@charset "utf-8";
section#conteudo{
    width: 1000px;
    margin: auto;
}
iframe#frame-spec {
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden; /* remove a visualização do conteúdo. NÃO FUNCIONOU */
}
iframe#frame-spec::-webkit-scrollbar {
    display: none;
     /* esconderia a barra de rolagem. NÃO FUNCIONOU */
}